.meli-breadcrumb {
    margin: 16px 0;
    span {
        color: #666666;
        font-size: 14px;
        vertical-align: middle;
        svg {
            width: 18px;
            height: 18px;
        }
    }
}